# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# Logs
logs/
*.log

# macOS
.DS_Store

# VS Code / PyCharm
.vscode/
.idea/

# Flask
instance/